<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Yasir" content="">
    <title>BICS Network Executor </title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/select/css/bootstrap.css">
    <link rel="stylesheet" href="static/select/css/bootstrap-theme.css">
    <link rel="stylesheet" href="static/select/css/font-awesome.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="static/select/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
    <script src="static/select/js/bootstrap-select.min.js"></script>
    <script src="static/select/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default navbar-static-top">
    <a class="navbar-brand pull-left clearfix">BICS IP Network Executor</a>
    <a class="navbar-brand pull-right clearfix" href="/logout"> {{ current_user.username }}
        (Logout)</a>
</nav>
<script type='text/javascript'>
    $(document).ready(function () {
        $('#selectcmd').bind('change', function () {
            var elements = $('div.container-fluid').children().hide(); // hide all the elements
            var value = $(this).val();

            if (value.length) { // if somethings' selected
                elements.filter('.' + value).show(); // show the ones we want
                $('div.button').show();
            }
        }).trigger('change');

        $('.selectpicker').bind('change', function () {
            var elements = $('div.selectpicker').children().hide(); // hide all the elements
            var value = $(this).val();

            if (value.length) { // if somethings' selected
                elements.filter('.' + value).show(); // show the ones we want
            }
        }).trigger('change');
    });
</script>
<label for="selectcmd">Start Here: </label>
<br>
<form method="POST">
    <div class="row-fluid">
        <select class="selectpicker" id="selectcmd" title="Choose Troubleshooting Options" name="selectcmd"
                show-menu-arrow data-style="btn-primary" data-width="fit" data-live-search="true">
            <option value="GRX">GRX Troubleshooting</option>
            <option value="BGP_GLOBAL">IP BGP Global Troubleshooting</option>
            <option value="INT" disabled>Interface Level Troubleshooting</option>
            <option value="PLAT" disabled>Router/Switch Troubleshooting</option>
            <option value="GIGAMON" disabled>GIGAMON Troubleshooting</option>
        </select>
        <div class="container-fluid">
            <div class="GRX">
                <br>
                <select name="GRX" class="selectpicker" title="Choose your option, multiple can be selected" multiple
                        show-menu-arrow data-style="btn-success" data-width="fit" data-selected-text-format="count > 3"
                        data-live-search="true">
                    <option value="GRX_ARP_C" disabled>ARP Table by Codif</option>
                    <option value="GRX_ARP_IP">ARP Table by IP</option>
                    <option value="GRX_BGP_N_AS">BGP Neighbor Status by ASN</option>
                    <option value="GRX_BGP_N_IP">BGP Neighbor Status by IP</option>
                    <option value="GRX_BGP_N_RR_IP">BGP Neighbor Received Routes</option>
                    <option value="GRX_BGP_N_AR_IP">BGP Neighbor Advertised Routes</option>
                    <option value="GRX_BGP_R_AS">BGP Routes by ASN</option>
                    <option value="GRX_INT_C" disabled>Interface by Codif</option>
                    <option value="GRX_PING_VRF">Ping Prefixes</option>
                    <option value="GRX_RTF">Routing Table Prefix</option>
                    <option value="GRX_TRACE">Traceroute Prefix</option>
                </select>
            </div>
            <div class="BGP_GLOBAL">
                <br>
                <select name="BGP_GLOBAL" class="selectpicker" title="Choose your option, multiple can be selected" multiple
                        show-menu-arrow data-style="btn-success" data-width="fit" data-selected-text-format="count > 3"
                        data-live-search="true">
                    <option value="BGP_G_IP">Check BGP Neighbor Status by IP</option>
                    <option value="BGP_G_AR_IP">Check BGP Advertised Routes by IP</option>
                    <option value="BGP_G_RR_IP">Check BGP Received Routes by IP</option>
                    <option value="BGP_G_AS">Check BGP Neighbor Status by AS</option>
                    <option value="BGP_G_AR_AS" disabled>Check BGP Advertised Routes by AS</option>
                    <option value="BGP_G_RR_AS">Check BGP Received Routes by AS</option>
                </select>
            </div>
            <div class="INT">
                <br>
                <select name="INT" class="selectpicker" title="Choose your option, multiple can be selected" multiple
                        show-menu-arrow data-style="btn-success" data-width="fit" data-selected-text-format="count > 3"
                        data-live-search="true">
                    <option value="INT_S">Check Interface Status</option>
                    <option value="INT_C">Check Interface Counters</option>
                    <option value="INT_FL">Check Interface Flaps in Logs</option>
                    <option value="INT_SH">Shut/noShut</option>
                    <option value="INT_S">Change Speed/Duplex</option>
                </select>
            </div>
            <div class="PLAT">
                <br>
                <select name="PLAT" class="selectpicker" title="Choose your option, multiple can be selected" multiple
                        show-menu-arrow data-style="btn-success" data-width="fit" data-selected-text-format="count > 3"
                        data-live-search="true">
                    <option value="PLAT_R">Check if Device Reachable</option>
                    <option value="PLAT_C_M">Check Device CPU/Memory status</option>
                    <option value="PLAT_UP">Check Device Uptime, Last crashinfo if any</option>

                </select>
            </div>
            <div class="GIGAMON">
                <br>
                <select name="GIGAMON" class="selectpicker" title="Choose your option, multiple can be selected" multiple
                        show-menu-arrow data-style="btn-success" data-width="fit" data-selected-text-format="count > 3"
                        data-live-search="true">
                    <option value="GIGAMON_R">Check if Gigamon Reachable</option>
                    <option value="GIGAMON_INT_S">Check Interface Status on Gigamon</option>
                    <option value="GIGAMON_VLAN">Check VLAN Configurations</option>

                </select>
            </div>
            <br>
            <div class="button">
                <br>
                <button id="button" type="submit" class="btn btn-primary"
                    data-component="button"> Submit
            </button>
            </div>
        </div>
    </div>
</form>
</html>